<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
   <%- include('./partials/navbar.ejs') %> 

   <h1 class="h1-text">Blog</h1>

   <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= blog.title %></h5>
                <p class="card-text"><%= blog.body %></p>
                <a href="/blogs" class="btn btn-primary">Go Back</a>
            </div>
        </div>
    </div>
</body>
</html>